// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #BABDBB;
@light-gray: #535654;
@gray: #363E42;
@dark-gray: #1D2023;
@very-dark-gray: #171A1C;

@cyan: #00A3B2;
@blue: #1269BA;
@purple: #7A5FD5;
@green: #30B273;
@red: #E0414B;
@orange: #DD7342;
@yellow: #D3BF67;
